HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Others ###
*.pem
.DS_Store

# dependencies
/ui/node_modules
/ui/.pnp
/ui/.pnp.js

# testing
/ui/coverage

# production
/ui/build

# misc
/ui/.DS_Store
/ui/.env.local
/ui/.env.development.local
/ui/.env.test.local
/ui/.env.production.local

/ui/npm-debug.log*
/ui/yarn-debug.log*
/ui/yarn-error.log*
/ui/.eslintcache
/ui/.env
/ui/.idea